<body>
  <div>
    <input
      type="search"
      placeholder="Search your city"
      (keyup)="searchCities(searchText.value)"
      #searchText
    />
    <option *ngFor="let opt of cities" [value]="opt"></option>
  </div>
</body>

<table>
  <div *ngIf="showPreviousSelectedCities">
    <div>
      <app-city-list
        [cities]="previousSelectedCities"
        [showPreviousSelectedCities]="showPreviousSelectedCities"
      ></app-city-list>
    </div>
  </div>
  <div *ngIf="!showPreviousSelectedCities">
    <div>
      <app-city-list
        [cities]="cities"
        [showPreviousSelectedCities]="showPreviousSelectedCities"
      ></app-city-list>
    </div>
  </div>
</table>
